PORT=5000
NODE_ENV=production
MONGODB_URI=mongodb://krishnendubhakta:bI6Dkkr0cuQCWtAe@ac-8mtae22-shard-00-00.cpamwmq.mongodb.net:27017,ac-8mtae22-shard-00-01.cpamwmq.mongodb.net:27017,ac-8mtae22-shard-00-02.cpamwmq.mongodb.net:27017/?ssl=true&replicaSet=atlas-87akry-shard-0&authSource=admin&appName=Cluster0
FRONTEND_URL=http://localhost:5173